.contactContainer{
    flex-direction: column;
    background-color: #fdfcf3;;
    gap: 20px;
    overflow-y: hidden;
    justify-content: center;
    width: 100vw;
    overflow-x: hidden;
  }
  
  .contactWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
  }
  
  .contactLeft{
    width: 50%;
  }
  
  .contactText{
    font-size: 2em;
      font-weight: 400;
      letter-spacing: 2px;
  }
  
  .contactRight{
    width: 50%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
  }
  
  .contactLinks{
    display: flex;
        align-items: center;
        gap: 5px;
        background-color: #f743df;
        background: linear-gradient(90deg, #f743df 0%, #faec29 100%);
        min-width: 350px;
        justify-content: flex-start;
        padding: 5px 15px;
        font-size: 1.2em;
        font-weight: 400;
        transition: 0.3s ease-in-out;
  }

  .contactLinks:hover{
    background-image: linear-gradient(to right, #faec29, #f743df);

  }
  
  .contactToplur {
    position: absolute;
    width: 50vw;
    height: 50vh;
    min-width: 350px;
    min-height: 350px;
    top: -120px;
    left: -10vw;
    border-radius: 764px;
    background: #f7eb7f;
    filter: blur(100px);
    z-index: 0;
  }
   
  .contactBottomlur {
    position: absolute;
    width: 50vw;
    height: 50vh;
    min-width: 250px;
    min-height: 350px;
    top: 250px;
    right: -20vw;
    border-radius: 764px;
    background-color: #f7eb7f;
    filter: blur(100px);
    z-index: 0;
  }
  
  @media screen and (max-width: 820px) {
    .contactWrapper{
      flex-direction: column;
      gap: 25px;
      justify-content: center;
    }
  
    .contactLeft{
      width: 100%;
    }
  
    .contactRight{
      width: 100%;
    }
  }
  
  @media screen and (max-width: 300px) {
    .contactContainer {
      flex-direction: column;
    }
    .contactText{
      font-size: 1.5em;
    }
    .contactLinks{
      font-size: 1em !important;
        gap: 2px !important;
        min-width: 250px !important;
        padding: 5px 10px !important;
    }
  }

  