

form{
    background-color: var(--main-color);
padding: 20px;
border-radius: 6px;
margin-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

input{
    width: 100%;
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 10px;
}

textarea{
    width: 110%;
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: -5%;
}

input:focus, textarea:focus{
    border: 1px solid #93e8f3;
}

.send{
    text-decoration: none;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    font-size: 0.6em;
    font-weight: 600;
    color: #01045c;
    background-color: #fdfcf3;
    transition: 0.3s ease-in-out;
    width: 50%;
}

.send:hover{
    background-image: linear-gradient(to right, #fdfcf3, #f7eb7f);
}