/*skills */

.section.skillContainer {
    background-color: #fdfcf3;
  }
  
  .skillWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 20px;
    width: 45%;
    align-items: center;
    margin-bottom: 20px;
    align-items: center;
  }
  
  .skillTitle {
    font-size: 1.5em;
    font-weight: 500;
  }
  
    .skills  {
      display: flex;
      flex-wrap: wrap;
      gap: 35px;
      height: fit-content;
      margin-top: 40px;
    }
  
  
    .skillItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 11px; 
      }
  
  
    .skillImgContainer{
      
      display: flex;
      align-items: center;
      justify-content: center;
      width: 120px;
      height: 120px;
      border-radius: 50%;
    }

    .skillImgContainer{
      background-color: #f8a0ec;
    }
  
    .skillImage {
      width: 70%;
      mix-blend-mode: multiply;
    }
  
    .tool{
      background-color: #fdf7a2;
    }
  
    
  
  @media screen and (max-width: 820px) {
    .skillContainer{
      flex-direction: column;
      gap: 65px;
    }

    .skillWrapper {
      width: 100% !important;
    }

    .skills  {
      gap: 15px;
    }
    
  
    
    .skillImgContainer {
      width: 80px;
      height: 80px;
    }
    
  }
  